.main-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.panes-row {
    display: flex;
    flex: 1;
    width: 100%;
    min-height: 0;
}

.pane {
    flex: 1;
    width: 50%;
    max-width: 50%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.editor-pane {
    border-right: 1px solid var(--border);
}